<?php

// Copy this to conf/db.php, change the values to suit
define('DATABASE_HOST', 'localhost');
define('DATABASE_USER', '');
define('DATABASE_PASS', '');
define('DATABASE_NAME', '');

define('REDIS_SERVER', 'localhost');

// Uncomment this if your redis instance requires authentication
// define('REDIS_PASSWORD', 'password');
