<?php

// Copy this to conf/db.php, change the values to suit
define('DATABASE_HOST', null);
define('DATABASE_USER', null);
define('DATABASE_PASS', null);
define('DATABASE_NAME', null);

define('REDIS_SERVER', 'localhost');

// Uncomment this if your redis instance requires authentication
// define('REDIS_PASSWORD', 'password');
