<?php

// Copy this to conf/db.php, change the values to suit
define('DATABASE_HOST', 'localhost');
define('DATABASE_USER', 'user');
define('DATABASE_PASS', 'password');
define('DATABASE_NAME', 'pocketrent');
